body {
  background-color: #fff;
  text-align: center;
}

#reddit_reader {
  width: 650px;
  min-height: 40px;
  padding: 20px;
  border: 1px dashed gray;
  text-align: center;
  margin: 10px;
  position: relative;
}

#reddit_reader a {
  text-decoration: none;
}

a.rr_title_link {
  font-size: 140%;
  color: blue;
}

.rr_comments {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.rr_user {
  position: absolute;
  bottom: 5px;
  left: 5px;
}